body {
}
#tableHits{
    width:100%;
    margin:auto;
}
.table {
    text-align: center;
    border-style: solid;
    border-width: 1px;
}
.td {
    text-align: center;
    border-style: solid;
    border-width: 1px;
}
.th {
    text-align: center;
    border-style: solid;
    border-width: 1px;
}

.table {
    width: 60%;
    margin: auto;
    border-collapse: collapse;
}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    border-top: revert;
}

#tbHeading{
    width:100%;
    font-size:32px;
    font-style:italic;
}
.Heading {
    width: 100%;
    font-size: 32px;
    font-style: italic;
    font-weight:bold;
}

#hylAdmin {
    background-color: #ddd;
    color: Black;
}

#content{
    width:100%;
    margin:auto;
}

#updateUser{
    width:80%;
    margin:auto;
    text-align:center;
}

#updateProduct {
    width: 80%;
    margin: auto;
    text-align: center;
}

#createProduct {
    width: 80%;
    margin: auto;
    text-align: center;
}

#fileUploadSection {
    width: 80%;
    margin: auto;
    text-align: center;
}

#ContentPlaceHolder1_lblFileUploadCreate {
    float: left;
    margin: auto;
    text-align: right;
    width: 40%;
}

#ContentPlaceHolder1_fuCreateProductImage {
    float: left;
    text-align: center;
    margin: auto;
}

#ContentPlaceHolder1_lblCreateCategory {
    float: left;
    margin: auto;
    text-align: right;
    width: 40%;
}

#ContentPlaceHolder1_txtCreateProductCategory {
    float: left;
    text-align: center;
    margin: auto;
}

.marginBottom{
    margin-bottom:5px;
}

#findUser{
    margin-bottom:8px;
}

#foundNot{
    padding-bottom:8px;
}

#ContentPlaceHolder1_lblFileUploadMessage {
    float: left;
    margin: auto;
    text-align: right;
    width: 40%;
}
#ContentPlaceHolder1_fuUploadImages {
    float: left;
    text-align: center;
    margin: auto;
}

#fileUpload {
    width: 100%;
    float: left;
    padding-bottom: 8px;
}

#uploadImageBtn{
    margin:auto;
    text-align:center;
}


@media only screen and (max-width:700px) {

    .marginBottom{
        width:revert;
        width:100%;
    }

    #ContentPlaceHolder1_txtUpdateStatus {
        width: 100%;
    }

    #ContentPlaceHolder1_txtCreateProductCategory {
        width: 100%;
        margin-bottom:8px;
    }

    #ContentPlaceHolder1_txtUpdateProductCategory {
        width: 100%;
    }

/*Create Product Image Uploader*/
    #ContentPlaceHolder1_lblFileUploadCreate {
        text-align:revert;
        text-align: center;
        width:revert;
        width: 100%;
    }

    #ContentPlaceHolder1_fuCreateProductImage {
        float: revert;
        width:60%;
        text-align: center;
        margin: auto;
    }


/*Product Images Uploaded*/
    #ContentPlaceHolder1_lblFileUploadMessage {
        text-align:revert;
        text-align: center;
        width:revert;
        width: 100%;
    }

    #ContentPlaceHolder1_fuUploadImages {
        float:revert;
        width:60%;
        text-align: center;
        margin: auto;
    }

/*Create Product Category Section*/
    #ContentPlaceHolder1_lblCreateCategory {
        float:revert;
        
    }


    #ContentPlaceHolder1_btnUpdateProduct{
        margin-bottom:8px;
    }

    #ContentPlaceHolder1_btnUpdateUser{
        margin-bottom: 8px;
    }
}