body {
}

#HomeContent{
    width:100%;
    height:500px;
}

/*Active Nav*/
#hylHome {
    background-color: #ddd;
    color: Black;
}

#introduction{
    width:100%;
    text-align:center;
    margin-top:10px;
    margin-bottom:10px;
    font-weight:bold;
    font-size:large;
}

#textSizeChange {
    font-size: x-large;
}


.navbar {
    margin-bottom: revert;
}

#firstSlideShow {
    float: left;
    width: 50%;
    height: 500px;
}

.carousel-inner > .item > a > img, .carousel-inner > .item > img, .img-responsive, .thumbnail a > img, .thumbnail > img{
    height:revert;
    height:500px;
}

.foodImages{
    height:revert;
    height:500px;
    width:85%;
    margin:auto;
}

#secondInfo {
    float: left;
    width: 50%;
    text-align: center;
    padding: 0px 20px;
    padding-top: 150px;
}

/* The Three options to choose from */

#ThreeOptions {
    float: left;
    background-image: url('../images/wallpaper.jpg');
    width: 100%;
    margin-top: 10px;
}

.optionsBorder {
    width: 20%;
    padding-top: 50px;
    padding-bottom: 50px;
    float: left;
    transition: width 2s, height 2s;
}

.optionsBorder:hover{
    width:21%;
}

.optionsBorderWhiteSpace {
    width: 10%;
    padding-top: 50px;
    padding-bottom: 50px;
    float: left;
}

.centerText {
    text-align: center;
    background-color: white;
    border-radius: 15px 15px 0px 0px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.RedText{
    color:red;
    font-weight:bold;
}

.OptionsImage {
    width: 100%;
}



.RedButton {
    color: red;
    border: 1px solid red;
}

@media only screen and (max-width:900px) {
    #firstSlideShow {
        float: left;
        width: 100%;
        height: revert;
    }
    #HomeContent {
        height: revert;
    }
    #myCarousel{
        width:60%;
        margin:auto;
        height:350px;
    }

    .foodImages {
        height: revert;
        height: 350px;
        margin: auto;
    }
    .carousel-inner > .item > a > img, .carousel-inner > .item > img, .img-responsive, .thumbnail a > img, .thumbnail > img {
        height: revert;
        height: 350px;
    }

    #secondInfo {
        float: left;
        width: 100%;
        text-align: center;
        padding:revert;
    }

    .optionsBorder {
        width:revert;
        width: 60%;
        padding-bottom: revert;
        float: revert;
        margin:auto;
    }

        .optionsBorder:hover {
            width:revert;
            width: 61%;
        }

    .optionsBorderWhiteSpace {
        width: revert;
    }
    .marginbottom{
        padding-bottom:50px;
    }

}