body {
}

#hylProducts {
    background-color: #ddd;
    color: Black;
}

#HomeContent{
    text-align:center;
}

#imgProducts{
    width: 60%;
    height: 120px;
}

.imgProducts {
    width: 60%;
    height: 120px;
}
/*Using the Repeater*/
.product {
    background-color: #EEE;
    margin-left: 1%;
    text-align: center;
    margin-bottom: 10px;
    padding: 10px;
    width: 31.333%;
    border-style: solid;
    border-width: 1px;
    border-spacing: 5px;
}


@media only screen and (max-width:786px) {
    .product{
        margin:revert;
        margin:auto;
        width:60%;
        margin-bottom:10px;
    }
}