
/*Active Nav*/
#hylSignUp {
    background-color: #ddd;
    color: Black;
}

/*BootStap*/

.gradient-custom-3 {
    /* fallback for old browsers */
    background: #84fab0;
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5))
}

.gradient-custom-4 {
    /* fallback for old browsers */
    background: #84fab0;
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1))
}

.col-md-9{
    width:revert;
    width:100%;
}

.container{
    width:revert;
    width:100%;
    margin:revert;
    margin:auto;
}

#output {
    color: red;
    width: 100%;
    float: left;
    margin: auto;
    text-align: center;
    font-size: 34px;
}

.navbar{
    margin-bottom:revert;
}

#changeStyle{
    padding-top:15px;
    padding-bottom:15px;

}

#changeFont{
    font-weight:bold;
}